:ruby
  # :alias => :help

:textile
  h1. Help
  
  We're always on "irc.freenode.net":http://webchat.freenode.net/ in the *#cells* channel.
  
  And, we have a "mailing list":http://groups.google.com/group/cells-and-apotomo.
