
:textile
  h1. Widgets for Rails



%p
  .lefty
    Forget about your cluttered RJS code. Throw away the messed up partial collection that gets out of control. Make your controllers slim, again. Dump your countless AJAX routes an simply erase your AJAX wire code. 
  
  = img "dragndrop-200.png", :class => :right
:textile  
  
  Apotomo is a true widget framework for Rails. Widgets in Apotomo are based on "Cells":http://cells.rubyforge.org and provide reuseable view components with bubbling events. They know when and how to update themselves via AJAX and offer optional statefulness for free!
  
  Writing and working with Apotomo widgets almost feels like developing GUI components - in a Rails environment.
  
  Apotomo helps you cleaning up your controller and view code, improves your overall software-architecture and makes your components bullet-proof with sustainable tests. It is perfect for mid-size development teams. Components rule!
  
  h2. Javascript frameworks
  
  It's not a JavaScript library. Apotomo plays great together with all JavaScript frameworks like jQuery, Prototype, RightJS or YUI.
  
  Helpers for page updates are shipped with Apotomo and help you jump-starting your development - however you're free to emit your own JavaScript, whenever, wherever. 
